TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
OPENROUTER_API_KEY=
GROQ_API_KEY=
HF_API_KEY=
MISTRAL_API_KEY=
SILICONFLOW_API_KEY=
LEGNEXT_API_KEY=
POLLINATIONS_API_KEY=
POLLINATIONS_ENABLE=
POLLINATIONS_TEXT_MODELS=
POLLINATIONS_IMAGE_MODELS=
POLLINATIONS_VIDEO_MODELS=
LEGNEXT_IMAGE_MODELS=
LEGNEXT_VIDEO_MODELS=
LEGNEXT_BASE_URL=
POLLINATIONS_GEN_BASE=
MODEL_TOKEN_LIMITS=
MODEL_REQUEST_LIMITS=
OPENROUTER_MODEL=qwen/qwen-2.5-7b-instruct:free
OLLAMA_MODEL=
